## Exercises: Level 1

#### Write a python comment saying 'Day 2: 30 Days of python programming'

In [137]:
print("Day 2: 30 Days of python programming")

Day 2: 30 Days of python programming

#### Declare a first name variable and assign a value to it

In [138]:
first_name = 'Sani'

#### Declare a last name variable and assign a value to it

In [139]:
last_name = 'Bala'

#### Declare a full name variable and assign a value to it

In [140]:
full_name = f"{first_name}, {last_name}"

#### Declare a country variable and assign a value to it

In [141]:
country = 'Nigeria'

#### Declare a city variable and assign a value to it

In [142]:
city = 'Kano'

#### Declare an age variable and assign a value to it

In [143]:
age = 35

#### Declare a year variable and assign a value to it

In [144]:
year = 1987

#### Declare a variable is_married and assign a value to it

In [145]:
is_married = True

#### Declare a variable is_true and assign a value to it

In [146]:
is_true = 'first'

#### Declare a variable is_light_on and assign a value to it

In [147]:
is_light_on = 'yes'

#### Declare multiple variable on one line

In [148]:
first_name, last_name, country, age, is_married = 'Nura', 'Salim', 'Kano', 30, True

## Exercises: Level 2

#### Check the data type of all your variables using type() built-in function

In [149]:
first_name = 'Sani'
print(type(first_name));

last_name = 'Bala'
print(type(last_name));

full_name = (first_name, last_name)
print(type(full_name));

city ='Kano'
print(type(city));

country = 'Nigeria'
print(type(country));

age = 35
print(type(age));

year = 1987
print(type(age));

is_married = 'True'
print(type(is_married));

is_true = 'first'
print(type(is_true));

is_light_on = 'yes'
print(type(is_light_on));

<class 'str'>
<class 'str'>
<class 'tuple'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>

#### Using the len() built-in function, find the length of your first name

In [150]:
first_name = 'Bala'
print(len(first_name));

last_name = 'Saminu'
print(len(last_name));

full_name = [first_name, last_name]
print(len[0],[1])

4
6

TypeError: 'builtin_function_or_method' object is not subscriptable

#### Declare 5 as num_one and 4 as num_two

In [156]:
num_one = 5
num_two = 4

total = ("num_one" & "num_two")
print(total)

diff = (num_two - num_one)

product = (num_two * num_one)

TypeError: unsupported operand type(s) for &: 'str' and 'str'